$background-color: #FFDF64;
$primary-color: #c77777;
$transparent-primary-color: transparentize($color: $primary-color, $amount: 0.5);
$font-color: #326135;
$shadow: (0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19));
$card-background-color: #dedef7